---
// /qr sin slug redirige al home instantáneamente
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0;url=/" />
    <title>Redirigiendo</title>
  </head>
  <body>
    <a href="/">Redirigiendo…</a>
  </body>
</html>
